:root {
  --highlight-font: "Nothing You Could Do", cursive;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #236969;
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: var(--highlight-font);
  font-size: 65px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0.8;
}

p {
  color: white;
  opacity: 0.8;
}

.navigation-links {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-family: var(--highlight-font);
  opacity: 0.8;
}
