:root {
  --highlight-font: "Nothing You Could Do", cursive;
  --highlight-color: #f7ca8c;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #236969;
}

.container {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
}

nav {
  position: static;
  padding: 20px 60px 0px 60px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  margin-left: 16px;
  opacity: 0.5;
}
nav li.active {
  opacity: 1;
}
nav a {
  text-decoration: none;
  color: black;
  opacity: 0.65;
  line-height: 30px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  background-color: #236969;
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-family: var(--highlight-font);
  font-size: 65px;
  color: white;
  text-align: center;
  margin-top: 25px;
}

h2 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0.8;
}

h3 {
  color: white;
  font-style: italic;
  font-weight: 400;
  opacity: 0.8;
}

p {
  color: white;
  opacity: 0.8;
  font-weight: 200;
}

.button-design {
  background-color: var(--highlight-color);
  font-family: var(--highlight-font);
}
.button-design:hover {
  background-color: var(--highlight-color);
}

.logo {
  font-family: var(--highlight-font);
  font-size: 30px;
  color: white;
  opacity: 0.65;
}
.menu {
  list-style: none;
  display: inline;
}
.menu-arrow {
  margin-left: 2px;
}
.menu-arrow:hover {
  cursor: pointer;
  display: list-item;
}

.navigation-links {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-family: var(--highlight-font);
  opacity: 0.8;
}
.picture-grid {
  background-color: rgba(255, 255, 255, 0.2);
}

.icons {
  color: var(--highlight-color);
  padding: 5px;
}
@media (max-width: 577px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 60px;
    margin-bottom: 25px;
  }
  .img-home {
    display: none;
  }
} ;
